body {
  font-family: serif;
  background-color: #f1f2f6;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header .text {
  font-size: 30px;
  font-weight: 700;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5093f5;
  height: 50px;
}

section {
  margin: 30px 200px 100px;
  background: #fff;
}
section .container {
  padding: 20px;
}
section .container .form-active .row {
  display: flex;
}
section .container .form-active .row .col {
  height: 350px;
  flex: 1;
  margin: 0 20px;
}
section .container .form-active .row .col textarea {
  cursor: not-allowed;
  height: 220px;
  width: 490px;
  border: 3px solid #dfdfdf;
  background-color: #fff;
}
section .container .form-active .row .col .btn-active .btn-copy,
section .container .form-active .row .col .btn-active .btn-copy-link {
  display: block;
  margin-top: 20px;
  width: 100%;
  background-color: #5192fa;
  padding: 5px 0;
  border: none;
  color: #fff;
  cursor: pointer;
}
section .container .form-active .row .col .btn-active .btn-copy:hover,
section .container .form-active .row .col .btn-active .btn-copy-link:hover {
  background-color: #3e7ee6;
  color: #ccc;
}
section .container .form-active .row .col #history {
  cursor: not-allowed;
  width: 490px;
  height: 320px;
  border: 3px solid #dfdfdf;
  background-color: #fff;
  vertical-align: top;
  line-height: normal;
  white-space: pre-line;
  overflow: auto;
  padding: 2px;
  font-size: 13.5px;
}
section .container .form-active #multiple_line {
  margin: 0 20px;
}
section .container .form-input {
  margin: 0 20px;
}
section .container .form-input .input-text {
  width: 99.1%;
  border: 3px solid #dfdfdf;
}
section .container .select-text .row {
  display: flex;
}
section .container .select-text .row .col {
  flex: 1;
  margin: 0 20px;
}
section .container .select-text .row .col #decoration,
section .container .select-text .row .col #font {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border: 3px solid #dfdfdf;
}
section .container .show-decorations .before,
section .container .show-decorations .after {
  margin: 20px 20px 0;
}

@media screen and (max-width: 767px) {
  section {
    margin: 30px 0 30px;
    background: #fff;
  }
  section .container {
    padding: 20px;
  }
  section .container .form-active .row {
    display: flex;
    flex-wrap: wrap;
  }
  section .container .form-active .row .col {
    height: unset;
    flex: 1;
    margin: 20px 20px;
  }
  section .container .form-active .row .col textarea {
    cursor: not-allowed;
    height: 150px;
    width: 350px;
    border: 3px solid #dfdfdf;
    background-color: #fff;
  }
  section .container .form-active .row .col .btn-active .btn-copy,
  section .container .form-active .row .col .btn-active .btn-copy-link {
    display: block;
    margin-top: 20px;
    width: 100%;
    background-color: #5192fa;
    padding: 5px 0;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  section .container .form-active .row .col .btn-active .btn-copy:hover,
  section .container .form-active .row .col .btn-active .btn-copy-link:hover {
    background-color: #3e7ee6;
    color: #ccc;
  }
  section .container .form-active .row .col #history {
    cursor: not-allowed;
    height: 150px;
    width: 350px;
    border: 3px solid #dfdfdf;
    background-color: #fff;
    vertical-align: top;
    line-height: normal;
    white-space: pre-line;
    overflow: auto;
    padding: 2px;
    font-size: 13.5px;
  }
  section .container .form-active #multiple_line {
    margin: 0 20px;
  }
  section .container .form-input {
    margin: 0 20px;
  }
  section .container .form-input .input-text {
    width: 99.1%;
    border: 3px solid #dfdfdf;
  }
  section .container .select-text .row {
    display: flex;
  }
  section .container .select-text .row .col {
    flex: 1;
    margin: 0 14px;
  }
  section .container .select-text .row .col #decoration,
  section .container .select-text .row .col #font {
    cursor: pointer;
    width: 100%;
    height: 30px;
    border: 3px solid #dfdfdf;
  }
  section .container .show-decorations .before,
  section .container .show-decorations .after {
    margin: 20px 10px 0;
  }
}/*# sourceMappingURL=style.css.map */